:root {
  --color-textarea: #ffffff;
  --color-textarea-hover: #f7f4f4;
  --color-textarea-active: #e8e6e6;
}

.textarea {
  outline: none;
  resize: none;
  border: 1px solid #ccc;
  padding: 0.5rem;
  background-color: var(--color-textarea);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.textarea:hover {
  background-color: var(--color-textarea-hover);
}

.textarea:active,
.textarea:focus {
  background-color: var(--color-textarea-active);
}
