:root {
  --color-input: #dbe1e8;
  --color-input-hover: #c8ced5;
  --color-input-active: #b8b9bb;
  --color-placeholder: #687078;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  background-color: var(--color-input);
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.input:hover {
  background-color: var(--color-input-hover);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.input:focus,
.input:active {
  background-color: var(--color-input-active);
}

.input::placeholder {
  color: var(--color-placeholder);
}
